{% assign sk_product_1 = all_products[section.settings.featured_product_1] %}
{% assign sk_product_2 = all_products[section.settings.featured_product_2] %}


<div class="featured-product-section">
  <div class="featured-product-container">
    <div class="featured-product-heading-wrapper">
      <h3 class="section-heading" data-ix="fadeindown">Summit Products</h3>
    </div>
    <div class="product-section-flex-row">
      <div class="product-section-flex-col" data-ix="fadeinright">
        <div class="product-section-flex-col-inner">
          <div class="product-col-top-wrapper">
            <div class="product-col-img-wrapper">
              <a href="/products/25mg-30ct-delta-8-vegan-infused-gummies" class="product-col-img-link w-inline-block">
                <img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/SM_Thumbnails_D8__thumb_1.jpg?v=1664495100" loading="lazy" alt="" class="product-col-img">
              </a>
            </div>
            <div class="product-col-top-heading-wrapper">
              <h4 class="section-heading-sm" data-ix="fadeindown">Vegan &amp; Infused</h4>
            </div>
            <div class="product-col-heading-wrapper">
              <h5 class="product-col-heading">
                <a href="/products/25mg-30ct-delta-8-vegan-infused-gummies" class="product-col-heading-link">Hemp Derived <span class="product-col-heading-alt">Delta-8</span> Gummies</a>
              </h5>
            </div>
            <div class="product-col-text-wrapper">
              <div class="body-rte-dark w-richtext">
                <p>Choose Delta 8 Gummies for a heavy, relaxing, full-body experience.</p>
              </div>
            </div>
          </div>
          <div class="product-col-bottom-wrapper">
            <div class="product-col-reviews-row-wrapper">
              <a href="{{sk_product_1.url}}#sk-review-widget-wrapper-product">
                <span 
                class="stamped-product-reviews-badge stamped-main-badge" 
                data-id="{{ sk_product_1.id }}" 
                data-product-sku="{{ sk_product_1.handle }}" 
                data-product-title="{{sk_product_1.title}}" 
                data-product-type="{{sk_product_1.type}}" 
                style="display: block;">                
                </span>
              </a>
              <style type="text/css">
                .product-col-reviews-row-wrapper .stamped-badge-caption {
                  color: #331c94;
                }
                .product-col-reviews-row-wrapper .stamped-badge-starrating {
                  margin-right: 6px !important;
                  margin-top: 5px !important;
                  display: inline-block;
                }

                .product-col-reviews-row-wrapper a {
                  color: #331c94;
                  font-size: 14px;
                  font-weight: 400;
                  text-decoration: underline;
                }
              </style>
            </div>
            {% comment %}
            <div class="product-col-reviews-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="featured-star-img">
              <a href="#" class="featured-col-reviews-heading-link w-inline-block">
                <div>103 Reviews</div>
              </a>
            </div>
            {% endcomment %}
            <div class="product-col-price-wrapper">
              <div class="product-col-price-text">$54.99</div>
            </div>

            <div class="product-col-btn-wrapper">
              <a href="/products/25mg-30ct-delta-8-vegan-infused-gummies" class="btn-main w-button">SHOP DELTA-8</a>
            </div>

          </div>
        </div>
      </div>
      <div class="product-section-flex-col" data-ix="fadeinright">
        <div class="product-section-flex-col-inner">
          <div class="product-col-top-wrapper">
            <div class="product-col-img-wrapper">
              <a href="/products/15mg-20ct-delta-9-vegan-infused-gummies" class="product-col-img-link w-inline-block">
                <img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/SM_Thumbnails_D9_thumb_1.jpg?v=1664495101" loading="lazy" alt="" class="product-col-img">
              </a>
            </div>
            <div class="product-col-top-heading-wrapper">
              <h4 class="section-heading-sm" data-ix="fadeindown">Vegan &amp; Infused</h4>
            </div>
            <div class="product-col-heading-wrapper">
              <h5 class="product-col-heading">
                <a href="/products/15mg-20ct-delta-9-vegan-infused-gummies" class="product-col-heading-link">Hemp Derived <span class="product-col-heading-alt">Delta-9</span> Gummies</a>
              </h5>
            </div>
            <div class="product-col-text-wrapper">
              <div class="body-rte-dark w-richtext">
                <p>Try our Delta 9 Gummies for an energizing traditional, uplifting, inspiring effect.</p>
              </div>
            </div>
          </div>
          <div class="product-col-bottom-wrapper">
            <div class="product-col-reviews-row-wrapper">
              <a href="{{sk_product_2.url}}#sk-review-widget-wrapper-product">
                <span 
                class="stamped-product-reviews-badge stamped-main-badge" 
                data-id="{{ sk_product_2.id }}" 
                data-product-sku="{{ sk_product_2.handle }}" 
                data-product-title="{{sk_product_2.title}}" 
                data-product-type="{{sk_product_2.type}}" 
                style="display: block;">
                {{sk_product_2.metafields.stamped.badge}}
                </span>
              </a>
              <style type="text/css">
                .product-col-reviews-row-wrapper .stamped-badge-caption {
                  color: #331c94;
                }
                .product-col-reviews-row-wrapper .stamped-badge-starrating {
                  margin-right: 6px !important;
                  margin-top: 5px !important;
                  display: inline-block;
                }
                .product-col-reviews-row-wrapper a {
                  color: #331c94;
                  font-size: 14px;
                  font-weight: 400;
                  text-decoration: underline;
                }
              </style>
            </div>
            {% comment %}
            <div class="product-col-reviews-row"><img src="//cdn.shopify.com/s/files/1/0636/9355/3922/files/ratings-stars-1-min.png" loading="lazy" alt="5 Stars" class="featured-star-img">
              <a href="#" class="featured-col-reviews-heading-link w-inline-block">
                <div>103 Reviews</div>
              </a>
            </div>
            {% endcomment %}
            <div class="product-col-price-wrapper">
              <div class="product-col-price-text">$49.99</div>
            </div>
            <div class="product-col-btn-wrapper">
              <a href="/products/15mg-20ct-delta-9-vegan-infused-gummies" class="btn-main w-button">SHOP DELTA-9</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Featured Products",
  "settings": [
      {
       "type": "product",
       "id": "featured_product_1",
       "label": "Featured Product"
      },
      {
       "type": "product",
       "id": "featured_product_2",
       "label": "Featured Product"
      }
  ]
}
{% endschema %}


